<md-toolbar color="primary" class="mat-elevation-z6">
  <nav class="app-nav">
    <a class="mat-button" md-button
       [routerLink]="['/items']"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      {{'header.nav.list' | translate}}
    </a>
    <a class="mat-button" md-button
       [routerLink]="['/items/add']"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      {{'header.nav.add-item' | translate}}
    </a>
  </nav>
  <span class="fill"></span>
  <md-icon class="sign-in" (click)="signIn()">input</md-icon>
</md-toolbar>
